.hero{
    width:550px;
    height: 400px;
    text-align: center;
    margin:100px auto;
}
.hero h1{
    font-size: 2.3rem;
    margin:10px 0
}
.hero>p{
    color:rgb(61, 61, 61)
}
.hero__button{
    background-color: rgb(89, 72, 189);
    width: 230px;
    height: 40px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin:25px auto;
    font-weight: 500;
    font-size: 1rem;
    color:whitesmoke;
    cursor: pointer;
    transition: background-color .3s ease-out;
}
.hero__button-icon{
    font-size: 1.5rem;
}
.hero__button:hover{
    background-color: rgb(60, 46, 139);

}